.reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6 {
  text-transform: none;
}

.reveal .warning code {
  color: #ff7b72;
}

.reveal .exercise pre {
  margin: 0;
  margin-bottom: 0.5em;
}

.reveal code {
  font-family: "Iosevka Fixed Web", Courier, "Courier New", monospace;
}

html.print-pdf .reveal pre code {
  font-family: "Iosevka Fixed Web", Courier, "Courier New", monospace!important;
}

.reveal strong {
  color: var(--r-heading-color);
}

.example1_container {
  align-items: center;
  background: #000;
  border: 1px solid #FFF;
  display: flex;
  gap: 10px;
  padding-left: 10px;
}

.example1_avatar {
  border-radius: 50%;
  width: 65px;
}
